html, body, div, span, p, blockquote, pre {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
	line-height: 1;
	color: black;
	background: white;
	margin-left: 20px;
}

.src { 
	border: 1px solid #dddddd;
	padding: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-family: Fira Code, Source Code Pro, monospace;
}

.hljs {
    padding: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}

.covered {background-color: #aaffaa}
.uncovered {background-color: #ffaaaa}
.na {background-color: #f8f8f8}

.killed {background-color: #aaffaa}
.no_coverage {background-color: #ffaaaa}
.alive {background-color: #ffaaaa}
.failure {background-color: #FFFF4D, color: red}
.timed_out {background-color: #FFFF4D, color: red}
.oom {background-color: #FFFF4D, color: red}
.untested {background-color: #FFFF4D}
